.app__container {
  flex: 1;
  overflow-y: auto;
  height: calc(100vh - 88px);
  padding: 0 45px;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(88, 86, 86);
    border-radius: 5px;
  }
}

.app__container-bg {
  background: url("../img/background/background-content-1.svg");
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
  z-index: -100;
}

// Header

.app__header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 0 30px;
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 240px);
  z-index: 100;
}

.app__header.bg-header {
  background: #37075d;
}

.header__with-search {
  display: flex;
  align-items: center;
  flex: 1;
  height: 100%;

  .header__btn-prev {
    color: $white-color;
    margin-right: 20px;
    font-size: 20px;
    opacity: 0.4;
    cursor: pointer;
  }

  .header__btn-next {
    color: $white-color;
    margin-right: 20px;
    font-size: 20px;
    opacity: 0.4;
    cursor: pointer;
  }

  .header__search {
    border-radius: 25px;
    overflow: hidden;
    background: #ffffff1a;
    padding: 5px 0;
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 540px;

    i {
      color: $white-color;
      padding-left: 12px;
      cursor: pointer;
      font-size: 20px;
    }

    input {
      outline: none;
      border: none;
      background: none;
      padding: 6px 10px;
      font-size: 15px;
      color: $white-color;
      width: 100%;
      display: flex;
      flex: 1;
    }
    ::placeholder {
      font-size: 14px;
      color: $white-color;
      opacity: 0.8;
    }
  }
}

.header__nav {
  &-list {
    display: flex;
    align-items: center;
    list-style: none;

    .header__nav-item {
      color: $white-color;
      background: #ffffff1a;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      cursor: pointer;

      .svg-item {
      }

      i {
        font-size: 15px;
      }

      img {
        width: 40px;
        border-radius: 50%;
      }
    }
  }
}

.app__header-container {
  position: relative;
  margin-top: 90px;
  .header-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__avatar {
      width: 100px;
      border-radius: 50%;
    }
    &__fullname {
      padding-top: 20px;
      margin: 0;
      font-size: 30px;
      line-height: 30px;
      color: $white-color;
    }
  }

  .header-actions {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;

    .buy-vip-btn {
      background: #f8e71c;
      font-size: 12px;
      padding: 6px 16px;
      border-radius: 13px;
      cursor: pointer;
      &:hover {
        opacity: 0.9;
      }
    }

    .import-code-btn {
      background: #ffffff1a;
      color: $white-color;
      margin: 0 8px;
      @extend .buy-vip-btn;
    }

    .option-btn {
      font-size: 1.6rem;
      color: $white-color;
      border-radius: 50%;
      padding: 8px;
      background: #ffffff1a;
      cursor: pointer;
      &:hover {
        opacity: 0.9;
      }
    }
  }
}

// Content

.content__navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
  margin: 0 auto;
  margin-top: 60px;

  &-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background-color: #ffffff1a;
    margin: 0 auto;
    padding: 15px 3px;
    border-radius: 15px;
    height: 27px;

    .content__navbar-item {
      min-width: 110px;
      text-align: center;
      cursor: pointer;
      color: $white-color;
      font-size: 12px;
      font-weight: 300;
      border-radius: 15px;
      opacity: 0.8;
      height: 27px;

      &:hover {
        opacity: 1;
      }
      span {
        line-height: 27px;
      }
    }
    .content__navbar-item.active {
      background-color: hsla(0, 0%, 100%, 0.3);
      opacity: 1;
    }
  }
}

.content__container {
  padding: 0 30px;
  margin: 35px 0;
  display: none;
}

.content__container.active {
  display: block;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left {
    color: $white-color;
    font-size: 20px;
  }
  .right {
    color: $white-color;
    display: flex;
    .download-song {
      display: flex;
      align-items: center;
      font-size: 12px;
      font-weight: 200;
      cursor: pointer;
      background: #ffffff1a;
      padding: 5px 18px;
      border-radius: 25px;
      border: 1px solid hsla(0, 0%, 100%, 0.1);
      &:hover {
        opacity: 0.9;
      }
      span {
        padding-left: 7px;
      }
    }
    .play-all {
      @extend .download-song;
      margin-left: 15px;
      background: #ed2b91;
      font-weight: 400;
      i {
        font-size: 17px;
      }
    }
  }
}

// Notification - Not-Update
.container__not-update {
  height: 250px;
  background: #ffffff1a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .img-notification {
    background: url(https://zjs.zadn.vn/zmp3-desktop/releases/v1.3.18/static/media/music-icon.cfa4aa91.svg)
      no-repeat;
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
  }
  .content-notification {
    font-size: 1.6rem;
    line-height: 2rem;
    color: #b3b3b3;
    text-align: center;
    display: block;
  }
}

// Tab 1 ( overview)

.container__overview {
  display: flex;
  align-items: center;
  height: 244px;

  .song__animate-list {
    padding: 0;
    list-style: none;
    width: 230px;
    height: 100%;
    margin-right: 20px;
    position: relative;
    display: flex;
    align-items: center;
    transform-style: preserve-3d;

    .song__animate-item {
      width: 230px;
      height: 244px;
      position: absolute;
      backface-visibility: hidden;
      transition: all 0.9s;
      will-change: transform, opacity;
      transform: perspective(1px) translateZ(0);

      img {
        border-radius: 8px;
        width: 100%;
        height: 100%;
      }
    }

    .song__animate-item.first {
      opacity: 1;
      transform: translate3d(0, 0, 60px);
    }
    .song__animate-item.second {
      opacity: 0.8;
      transform: translate3d(-20px, 0, 40px);
      width: 200px;
      height: 214px;
    }
    .song__animate-item.third {
      opacity: 0.3;
      transform: translate3d(-40px, 0, 20px);
      width: 170px;
      height: 184px;
    }
    .song__animate-item.fourth {
      opacity: 0;
      transform: translate3d(-40px, 0, 20px);
      width: 170px;
      height: 184px;
    }
  }

  .container__playlist {
    height: 100%;
    flex: 1;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgb(88, 86, 86);
      border-radius: 5px;
    }

    .playlist {
      height: 61px;

      .playlist__song-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-radius: 5px;
        border-bottom: 1px solid #ffffff1a;
        cursor: pointer;

        &:hover {
          background: #ffffff1a;
        }

        .song-item__info {
          display: flex;
          align-items: center;
          width: 50%;
          position: relative;

          .song-item__img {
            width: 40px;
            height: 40px;
            img {
              width: 40px;
              border-radius: 5px;
            }
          }

          .song__icon-play {
            position: absolute;
            height: 40px;
            width: 40px;
            top: 0;
            background: rgba(0, 0, 0, 0.4);
            border-radius: 4px;
            display: none;
            z-index: 9;
            i {
              position: relative;
              top: 7px;
              left: 7px;
              color: $white-color;
              font-size: 25px;
            }
          }

          .song__icon-tone {
            position: absolute;
            height: 40px;
            width: 40px;
            top: 0;
            border-radius: 4px;
            background: rgba(0, 0, 0, 0.4);
            display: none;
            z-index: 10;

            img {
              position: relative;
              top: 10.5px;
              left: 9.5px;
              width: 20px;
              height: 18px;
            }
          }

          .song__icon-tone.active {
            display: block;
          }

          .info-title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 10px;

            h4 {
              margin: 0;
              color: $white-color;
              font-size: 14px;
              font-weight: 500;
              line-height: 22px;
            }

            span {
              color: $white-color;
              opacity: 0.55;
              font-size: 12px;
            }
          }
        }

        .song-item__time {
          width: 30%;
          margin-left: 10px;

          span {
            color: $white-color;
            font-size: 12px;
            opacity: 0.5;
          }
        }

        .song-item__optinos {
          display: flex;
          flex-basis: auto;
          justify-content: flex-end;
          margin-left: 10px;
          width: 20%;

          .favorite {
            color: $white-color;
            padding: 8px 10px;
            font-size: 13.5px;

            &:hover {
              background: #ffffff1a;
              border-radius: 50%;
            }
          }

          .active {
            color: #ed2b91;
          }

          i {
            @extend .favorite;
          }
        }
      }

      .playlist__song-item:hover .song__icon-play {
        display: block;
      }

      .playlist__song-item.active:hover .song__icon-play {
        display: none;
      }

      .playlist__song-item.active {
        @extend .playlist__song-item;
        background: #ffffff1a;
      }
    }
  }
}

//Tab 2 ( song )

.container__song-index {
  display: flex;
  color: $white-color;
  font-size: 12.5px;
  opacity: 0.5;
  padding-left: 35px;
  border-bottom: 1px solid #ffffff1a;

  .pillar-song {
    font-weight: 500;
  }

  .pillar-time {
    text-align: center;
    flex: 1;
    font-weight: 500;
  }
}

.container__song-list {
  list-style: none;
  padding: 0;
  margin: 0;

  .container__song-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    border-radius: 5px;
    border-bottom: 1px solid #ffffff1a;
    cursor: pointer;

    &:hover {
      background: #4b206e;
    }

    .song-item__info {
      display: flex;
      align-items: center;
      margin-right: 25px;
      width: 50%;

      .icon-play {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: $white-color;
        font-size: 24px;
        background: rgba(0, 0, 0, 0.4);
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
      }

      .icon-tone {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: $white-color;
        font-size: 24px;
        background: rgba(0, 0, 0, 0.4);
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
      
        .icon-tone__img {
          width: 25px;
          height: 18px;
        }
      }
      .icon-tone.active {
        display: flex;
      }

      .icon-note-song {
        font-size: 14px;
        width: 16px;
        height: 16px;
        color: rgb(255 255 255 / 50%);
      }

      .img-song {
        position: relative;
        height: 40px;

        img {
          height: 40px;
          width: 40px;
          margin: 0 10px;
          border-radius: 4px;
        }
      }

      .info-title {
        color: $white-color;

        h4 {
          margin: 0;
          font-size: 13px;
          font-weight: 500;
          line-height: 20px;
        }
        span {
          font-size: 11.5px;
          color: rgb(255 255 255 / 50%);
        }
      }
    }

    .song-item__time {
      font-size: 12px;
      color: rgb(255 255 255 / 50%);
      display: flex;
      flex: 1;
    }

    .song-item__controls {
      display: flex;
      align-items: center;
      font-size: 14px;
      justify-content: flex-end;

      .favorite-icon {
        margin-right: 20px;
        cursor: pointer;
        color: $white-color;
      }
      .favorite-tab2.active {
        color: #ed2b91;
      }

      .options-icon {
        color: $white-color;
      }
    }
  }

  .container__song-item:hover .icon-play {
    display: flex;
  }

  .container__song-item.active {
    background: #4b206e;
  }

  .container__song-item.active:hover .icon-play {
    display: none;
  }

  .container__song-item:last-child {
    border: none;
  }
}
